* {
    background: rgba(17,17,17, 0.05);
}

html {
  color: #222222;
  font: 300 14px/24px open-sans,sans-serif;
  overflow-y: scroll;
  height: 100%;
  background: #222222;
  box-sizing: border-box;
  display: block;
  margin: 0;
}

body {
  background: white;
}

@media (max-width: 1400px){
  .masthead {
    font-size: 25px;
    font-size: 3vw;
  }
}
  
.topface {
  position: relative;
  display: table;
  height: 300px;
  height: 70vh;
  width: 100%;
  padding: 0 0 60px;
}

.topface-text {
  position: relative;
  display: table-cell;
  glyph-orientation-vertical: middle;
  text-align: center;
  padding: 80px 0 60px;
  z-index: 100;
}

.about {
  background-size: cover;
}

.portfolio {
  background-size: cover;
}

.contact {
  background-size: cover;
}

#face {
  width: 200px;
  border-radius: 50%;
  float: right;
} 